section{
    height: 75vh;
    z-index: 3;
    margin-bottom: 2.5vh;
}

body{
    margin:0;
    padding:0;
}

#submitConnexion{
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    transition:0.5s;
    border-radius: 30px;
}



#submitInscription{
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    transition:0.5s;
    border-radius: 30px;
}

#vertical{
    margin: 2.5vh;
}

#bloc{
    margin-top: 2.5vh;
    padding: 1vw;    
    border-radius: 30px;
    display: flex;
}

.flex{
    flex-grow: 1;
} 

.tableau{
    padding-top: 1vh;
}

.tableau td{
    padding-bottom: 0.5vh;
}

.tableauC{
    padding-top: 1vh;
    margin-left:auto;
    margin-right:auto;
}

.titre{
    margin: 0;
    border-radius: 0px 0px 30px 0px;
    width: 32.5vw;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tdLeft{
    padding-right: 2.5%;
}

.tdRight{
    padding-left: 2.5%;
}

.texte{
    padding-top: 1vh;
    font-style: italic;
}

.texte2{
    text-align: center;
}

.boxreponses{
    width: 16vw;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box; 
}

input:invalid{
    border: 2px solid red;
}
input::placeholder{
    font-size: 0.60em;
}

@media screen and (max-width: 4440px) and (max-height: 2160px){

    #vertical { 
        border-left: 6px solid #F3F3F3; 
        height: 67.5vh;
    } 

    #bloc{
        height: 70vh;
        width: 70vw;
        margin-left: 15vw;
    }

    #submitConnexion{
        font-size: 2.5em;
        margin-left: 15vw;
        padding: 20px;
    }

    #submitInscription{
        font-size: 2.5em;
        margin-left: 12.5vw;
        padding: 20px;
    }

    .boxreponses{
        font-size: 2em;
        padding: 20px 30px;
    }

    .texte{
        font-size: 2.5em;
    }

    .texte2{
        font-size: 2em;
    }

    .titre{
        font-size: 4em;
    }

}


@media screen and (max-width: 2560px) and (max-height: 2160px){

    #vertical { 
        border-left: 4px solid #F3F3F3; 
        height: 67.5vh;
    } 

    #bloc{
        height: 70vh;
        width: 70vw;
        margin-left: 15vw;
    }

    #submitConnexion{
        font-size: 1.5em;
        margin-left: 15vw;
        padding: 20px;
    }

    #submitInscription{
        font-size: 1.5em;
        margin-left: 12.5vw;
        padding: 20px;
    }

    .boxreponses{
        font-size: 1.5em;
        padding: 12px 20px;
    }

    .texte{
        font-size: 1.5em;
    }

    .texte2{
        font-size: 1.25em;
    }

    .titre{
        font-size: 2.75em;
    }

}

@media screen and (max-width: 1920px) and (max-height: 2160px){

    #vertical { 
        border-left: 2px solid #F3F3F3; 
        height: 67.5vh;
    } 

    #bloc{
        height: 70vh;
        width: 70vw;
        margin-left: 15vw;
    }

    #submitConnexion{
        font-size: 0.9em;
        margin-left: 12.5vw;
        padding: 15px;
    }

    #submitInscription{
        font-size: 0.9em;
        margin-left: 12.5vw;
        padding: 15px;
    }

    .boxreponses{
        font-size: 1em;
        padding: 12px 20px;
    }

    .texte{
        font-size: 0.9em;
    }

    .texte2{
        font-size: 0.8em;
    }

    .titre{
        font-size: 2em;
    }

   
}


@media screen and (max-width: 1750px) and (max-height: 2160px){

#vertical { 
        border-left: 2px solid #F3F3F3; 
        height: 67.5vh;
    } 

    #bloc{
        height: 70vh;
        width: 70vw;
        margin-left: 15vw;
    }

    #submitConnexion{
        font-size: 0.9em;
        margin-left: 12.5vw;
        padding: 10px;
    }

    #submitInscription{
        font-size: 0.9em;
        margin-left: 12.5vw;
        padding: 10px;
    }

    .boxreponses{
        font-size: 1em;
        padding: 6px 10px;
    }

    .texte{
        font-size: 0.9em;
    }

    .texte2{
        font-size: 0.8em;
    }

    .titre{
        font-size: 2em;
    }



}

@media screen and (max-width: 1366px) and (max-height: 2160px){

    #vertical { 
        border-left: 2px solid #F3F3F3; 
        height: 67.5vh;
    } 

    #bloc{
        height: 70vh;
        width: 80vw;
        margin-left: 10vw;
    }

    #submitConnexion{
        font-size: 0.8em;
        margin-left: 12.5vw;
        padding: 10px;
    }

    #submitInscription{
        font-size: 0.8em;
        margin-left: 12.5vw;
        padding: 10px;
    }

    .boxreponses{
        font-size: 1em;
        padding: 6px 10px;
    }

    .texte{
        font-size: 0.8em;
    }

    .texte2{
        font-size: 0.7em;
    }

    .titre{
        font-size: 1.75em;
    }

 
}

@media screen and (max-width: 1000px) and (max-height: 2160px){

    section{
        height: 110vh;
    }

    #vertical { 
        height: 0vh;
    } 

    #bloc{
        height: 70vh;
        width: 80vw;
        margin-left: 10vw;
    }

    #submitConnexion{
        font-size: 0.8em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 25vw;
    }

    #submitInscription{
        font-size: 0.8em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 20vw;
    }

    #bloc_connexion{
        margin-left: 20vw;
    }

    .boxreponses{
        font-size: 1em;
        padding: 6px 10px;
        width: 35vw;
    }

    .texte{
        font-size: 0.8em;
    }

    .texte2{
        font-size: 0.7em;
    }

    .titre{
        font-size: 1.75em;
    }

    #bloc{
        flex-direction: column;
        height: inherit;
        border-radius: 5px;
    }

    td{
        width: 40vw;
    }
    
}



@media screen and (max-width: 820px) and (max-height: 2160px){

    section{
        height: 115vh;
    }

    #vertical { 
        height: 0vh;
    } 

    #bloc{
        height: 70vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #submitConnexion{
        font-size: 0.7em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 25vw;
    }

    #submitInscription{
        font-size: 0.7em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 20vw;
    }

    #bloc_connexion{
        margin-left: 20vw;
    }

    .boxreponses{
        font-size: 0.5em;
        padding: 6px 10px;
        width: 35vw;
    }

    .texte{
        font-size: 0.7em;
    }

    .texte2{
        font-size: 0.6em;
    }

    .titre{
        font-size: 1.5em;
    }

    #bloc{
        flex-direction: column;
        height: inherit;
        border-radius: 5px;
    }

    td{
        width: 40vw;
    }

}

@media screen and (max-width: 425px) and (max-height: 2160px){

    section{
        height: 105vh;
    }

    #vertical { 
        height: 0vh;
    } 

    #bloc{
        height: 70vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #submitConnexion{
        font-size: 0.5em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 25vw;
    }

    #submitInscription{
        font-size: 0.5em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 20vw;
    }

    #bloc_connexion{
        margin-left: 20vw;
    }

    .boxreponses{
        font-size: 0.5em;
        padding: 6px 10px;
        width: 35vw;
    }

    .texte{
        font-size: 0.5em;
    }

    .texte2{
        font-size: 0.4em;
    }

    .titre{
        font-size: 1.1em;
    }

    #bloc{
        flex-direction: column;
        height: inherit;
        border-radius: 5px;
    }

    td{
        width: 40vw;
    }


}

@media screen and (max-width: 360px) and (max-height: 2160px){

    section{
        height: 110vh;
    }

    #vertical { 
        margin: 0;
    } 

    #bloc{
        height: 70vh;
        width: 90vw;
        margin-left: 5vw;
    }

    #submitConnexion{
        font-size: 0.5em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 25vw;
    }

    #submitInscription{
        font-size: 0.5em;
        margin-left: 30vw;
        padding: 5px;
        border-radius: 10px;
        width: 20vw;
    }

    #bloc_connexion{
        margin-left: 20vw;
    }

    .boxreponses{
        font-size: 0.4em;
        padding: 6px 10px;
        width: 35vw;
    }

    .texte{
        font-size: 0.5em;
    }

    .texte2{
        font-size: 0.4em;
    }

    .titre{
        font-size: 1em;
    }

    #bloc{
        flex-direction: column;
        height: inherit;
        border-radius: 5px;
    }

    td{
        width: 40vw;
    }

}