section{
    width: auto;
    z-index: 3;
    margin-bottom: 10vh;
}


body{
    margin:0;
    padding:0;
}

.titre{
    margin: 0;
    border-radius: 0px 0px 30px 0px;
    width: 30vw;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
    list-style-type: none;
}

.carousel-item {
    
    flex: 1 0 250px;
    margin-right: 1rem;
    margin-left: 1rem;
    scroll-snap-align: 0;
}

#carousel{
    margin:auto;
    width: 70vw;
    border-radius: 0px 30px 0px 0px ;
}

ul{
    padding:0;
    margin: 0;
}
li {

  position: relative;
}
li p {
  position: absolute;
  bottom:2.5vh;
  left:2.5vw;
}

#grid{
    margin:auto;
    margin-top: 4rem;
    padding-bottom: 2rem;
    width: 70vw;
    border-radius: 0px 30px 0px 0px ;

}

.container {
    position: relative;
    padding: 1rem ;
    display: inline-block;
}

.text {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom:2.5vh;
    left:2.5vw;
    
    
}

#center1{
    padding-top: 1.9rem;
}

#center2{
    display: flex;
}
#divBoutons{
    flex-grow: 1;
}

.boutons_cours{
    margin-top: 3vh;
    border: none;
    width: 5vw;
    height: 3vh;
    border-radius: 50px;
}


@media screen and (max-width: 4440px) and (max-height: 2160px){

    .texte{
        font-size: 3em;
    }
    .titre{
        width: 30vw;
        font-size: 4em;
    }

    .carousel-items {
        padding: 1rem 0;
    }

    .carousel-item {
        flex: 1 0 560px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    video{
        height: 315px;
        width: 560px;
    }


    #grid{
        margin-top: 4rem;
        padding-bottom: 4rem;

    }

    .container {
        height: 315px;
        width: 560px;
        padding: 1rem;
    }

    .text {
        font-size: 3em;
        
    }

    #center1{
        padding-top: 2.5rem;
    }

    .boutons_cours{
        margin-top: 3vh;
        width: 10vw;
        height: 4vh;
        font-size: 2em;
    }

}


@media screen and (max-width: 2560px) and (max-height: 2160px){

    .texte{
        font-size: 2em;
    }
    .titre{
        width: 30vw;
        font-size: 3em;
    }

    .carousel-items {
        padding: 1rem 0;
    }

    .carousel-item {
        flex: 1 0 320px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    video{
        height: 225px;
        width: 400px;
    }

    #grid{
        margin-top: 2rem;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 225px;
        width: 400px;
        padding: 0.5rem;
    }

    .text {
        font-size: 1.75em;
        
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 2vh;
        width: 8vw;
        height: 4vh;
        font-size: 1.5em;
    }

}

@media screen and (max-width: 1920px) and (max-height: 2160px){

    .texte{
        font-size: 1.5em;
    }
    .titre{
        width: 30vw;
        font-size: 2em;
    }
    #carousel{
        width: 75vw;
    }

    .carousel-items {
        padding: 0.5rem 0;
    }

    .carousel-item {
        flex: 1 0 320px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    video{
        height: 180px;
        width: 320px;
    }

    #grid{
        margin-top: 2rem;
        width: 75vw;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 180px;
        width: 320px;
        padding: 1rem;
    }

    .text {
        font-size: 1.5em;
        
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 2vh;
        width: 8vw;
        height: 4vh;
        font-size: 1.25em;
    }

   
}

@media screen and (max-width: 1750px) and (max-height: 2160px){

    .texte{
        font-size: 1.5em;
    }
    .titre{
        width: 30vw;
        font-size: 2em;
    }
    #carousel{
        width: 75vw;
    }

    .carousel-items {
        padding: 0.5rem 0;
    }

    .carousel-item {
        flex: 1 0 256px;
        margin-right: 1rem;
        margin-left: 1rem;
    }

    video{
        height: 144px;
        width: 256px;
    }

    #grid{
        margin-top: 2rem;
        width: 75vw;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 144px;
        width: 256px;
        padding: 1rem;
    }

    .text {
        font-size: 1.25em;
        
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 2vh;
        width: 8vw;
        height: 4vh;
        font-size: 1.25em;
    }


}

@media screen and (max-width: 1366px) and (max-height: 2160px){

    .texte{
        font-size: 1.25em;
    }
    .titre{
        width: 30vw;
        font-size: 2em;
    }

    .carousel-items {
        padding: 0.5rem 0.5rem;
    }

    .carousel-item {
        flex: 1 0 224px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    video{
        height: 126px;
        width: 224px;
    }

    #grid{
        margin-top: 2rem;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 126px;
        width: 224px;
        padding: 0.75rem;
    }

    .text {
        font-size: 1.15em;
        
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 2vh;
        width: 8vw;
        height: 4vh;
        font-size: 1.15em;
    }
 
}

@media screen and (max-width: 1000px) and (max-height: 2160px){

    .texte{
        font-size: 1em;
    }
    .titre{
        width: 30vw;
        font-size: 1.5em;
    }

    .carousel-items {
        padding: 0.5rem 1rem;
    }

    .carousel-item {
        flex: 1 0 144px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    video{
        height: 81px;
        width: 144px;
    }

    #grid{
        margin-top: 2rem;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 81px;
        width: 144px;
        padding: 0.5rem;
    }

    .text {
        font-size: 0.8em;
        position: absolute;
        bottom:3vh;
        left:3vw;
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 1.5vh;
        width: 10vw;
        height: 3vh;
        font-size: 0.8em;
    }

    
}

@media screen and (max-width: 820px) and (max-height: 2160px){

    .texte{
        font-size: 0.8em;
    }
    .titre{
        width: 35vw;
        font-size: 1em;
    }
    #carousel{
        width: 85vw;
    }
    .carousel-items {
        padding: 0.5rem 1rem;
    }

    .carousel-item {
        flex: 1 0 144px;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    video{
        height: 81px;
        width: 144px;
    }

    #grid{
        margin-top: 2rem;
        width: 85vw;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 81px;
        width: 144px;
        padding: 0.25rem;
    }

    .text {
        font-size: 0.7em;
        position: absolute;
        bottom:3vh;
        left:3vw;
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 1.5vh;
        width: 10vw;
        height: 3vh;
        font-size: 0.7em;
    }


}

@media screen and (max-width: 425px) and (max-height: 2160px){

    .texte{
        font-size: 0.8em;
    }
    .titre{
        width: 50vw;
        font-size: 1em;
    }
    #carousel{
        width: 70vw;
    }
    .carousel-items {
        padding: 0.5rem 0.5rem;
    }

    .carousel-item {
        flex: 1 0 128px;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }

    video{
        height: 72px;
        width: 128px;
    }

    #grid{
        margin-top: 2rem;
        width: 70vw;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 72px;
        width: 128px;
        padding: 0.1rem;
    }

    .text {
        font-size: 0.8em;
        position: absolute;
        bottom:1.5vh;
        left:3vw;
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 1.5vh;
        width: 18vw;
        height: 3vh;
        font-size: 0.7em;
    }


}

@media screen and (max-width: 360px) and (max-height: 2160px){

    .texte{
        font-size: 0.8em;
    }
    .titre{
        width: 50vw;
        font-size: 1em;
    }
    #carousel{
        width: 80vw;
    }
    .carousel-items {
        padding: 0.5rem 0.5rem;
    }

    .carousel-item {
        flex: 1 0 128px;
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }

    video{
        height: 72px;
        width: 128px;
    }

    #grid{
        margin-top: 2rem;
        width: 80vw;
        padding-bottom: 1.5rem;

    }

    .container {
        height: 72px;
        width: 128px;
        padding: 0.1rem;
    }

    .text {
        font-size: 0.6em;
        position: absolute;
        bottom:1.5vh;
        left:3vw;
    }

    #center1{
        padding-top: 2rem;
    }

    .boutons_cours{
        margin-top: 1.5vh;
        width: 18vw;
        height: 3vh;
        font-size: 0.6em;
    }

}